In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series([1, 3, 6, np.nan, 44, 1]) 
print(s)

0     1.0
1     3.0
2     6.0
3     NaN
4    44.0
5     1.0
dtype: float64

In [6]:
dates = pd.date_range('20170814', periods  = 6)
print(dates)

DatetimeIndex(['2017-08-14', '2017-08-15', '2017-08-16', '2017-08-17',
               '2017-08-18', '2017-08-19'],
              dtype='datetime64[ns]', freq='D')

In [10]:
df = pd.DataFrame(np.random.randn(6,4), index = dates, columns = ['a', 'b', 'c', 'd'])  #定义名称
print(df)

                   a         b         c         d
2017-08-14  0.262571  0.468133  1.672044 -2.096728
2017-08-15 -0.467387 -1.029230 -0.397136  1.506734
2017-08-16 -0.091816  0.555826 -0.196819  0.767868
2017-08-17 -0.496969  0.307416 -0.722651 -0.561598
2017-08-18  0.899973  0.045658  0.454806 -0.860202
2017-08-19  0.916481  0.588444 -0.120940 -0.123284

In [12]:
df1 = pd.DataFrame(np.arange(12).reshape((3,4)))
print(df1)

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [17]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20170814'),
                    'C': pd.Series(1, index = list(range(4)), dtype = 'float32'),
                    'D': np.array([3]*4, dtype = 'int32'),
                    'E': pd.Categorical(["test","train","test","train"]),
                    'F': 'foo'})
print(df2)

     A          B    C  D      E    F
0  1.0 2017-08-14  1.0  3   test  foo
1  1.0 2017-08-14  1.0  3  train  foo
2  1.0 2017-08-14  1.0  3   test  foo
3  1.0 2017-08-14  1.0  3  train  foo

In [18]:
df2.dtypes  #查看那种形式

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [19]:
df2.index   #查看所有列序号

Int64Index([0, 1, 2, 3], dtype='int64')

In [20]:
df2.columns #查看内容是一个属性，所以不需要序号（查看行序号）

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [21]:
df2.values

array([[1.0, Timestamp('2017-08-14 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2017-08-14 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2017-08-14 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2017-08-14 00:00:00'), 1.0, 3, 'train', 'foo']], dtype=object)

In [22]:
df2.describe()   #数字的平均值、方差、mean...

         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

In [23]:
df2.T

,0,1,2,3
A,1,1,1,1
B,2017-08-14 00:00:00,2017-08-14 00:00:00,2017-08-14 00:00:00,2017-08-14 00:00:00
C,1,1,1,1
D,3,3,3,3
E,test,train,test,train
F,foo,foo,foo,foo

In [24]:
df2.sort_index(axis = 1, ascending = False)   #排序

     F      E  D    C          B    A
0  foo   test  3  1.0 2017-08-14  1.0
1  foo  train  3  1.0 2017-08-14  1.0
2  foo   test  3  1.0 2017-08-14  1.0
3  foo  train  3  1.0 2017-08-14  1.0

In [26]:
df2.sort_index(axis = 0, ascending = False)   #ascending 上升

     A          B    C  D      E    F
3  1.0 2017-08-14  1.0  3  train  foo
2  1.0 2017-08-14  1.0  3   test  foo
1  1.0 2017-08-14  1.0  3  train  foo
0  1.0 2017-08-14  1.0  3   test  foo

In [28]:
df2.sort_values(by = 'E')  #对具体位置排序

     A          B    C  D      E    F
0  1.0 2017-08-14  1.0  3   test  foo
2  1.0 2017-08-14  1.0  3   test  foo
1  1.0 2017-08-14  1.0  3  train  foo
3  1.0 2017-08-14  1.0  3  train  foo