In [1]:
import pandas as pd
import numpy as np

In [2]:
dates = pd.date_range('20170814', periods = 6)
df = pd.DataFrame(np.arange(24).reshape((6,4)), index = dates, columns = ['A', 'B', 'C', 'D'])
print(df)

             A   B   C   D
2017-08-14   0   1   2   3
2017-08-15   4   5   6   7
2017-08-16   8   9  10  11
2017-08-17  12  13  14  15
2017-08-18  16  17  18  19
2017-08-19  20  21  22  23

In [4]:
print(df['A'], df.A)  #某一列

2017-08-14     0
2017-08-15     4
2017-08-16     8
2017-08-17    12
2017-08-18    16
2017-08-19    20
Freq: D, Name: A, dtype: int32 2017-08-14     0
2017-08-15     4
2017-08-16     8
2017-08-17    12
2017-08-18    16
2017-08-19    20
Freq: D, Name: A, dtype: int32

In [5]:
print(df[0:3])

            A  B   C   D
2017-08-14  0  1   2   3
2017-08-15  4  5   6   7
2017-08-16  8  9  10  11

In [8]:
print(df['20170814':'20170816'])   #选择行

            A  B   C   D
2017-08-14  0  1   2   3
2017-08-15  4  5   6   7
2017-08-16  8  9  10  11

In [9]:
#select by lable: loc   根据标签选择
print(df.loc['20170814'])

A    0
B    1
C    2
D    3
Name: 2017-08-14 00:00:00, dtype: int32

In [15]:
df.loc['20170815':,['A','B']]

             A   B
2017-08-15   4   5
2017-08-16   8   9
2017-08-17  12  13
2017-08-18  16  17
2017-08-19  20  21

In [17]:
#select by position: iloc 根据位置选择
df.iloc[3]    #第三行

A    12
B    13
C    14
D    15
Name: 2017-08-17 00:00:00, dtype: int32

In [18]:
df.iloc[3:5, 1:3]

             B   C
2017-08-17  13  14
2017-08-18  17  18

In [19]:
df.iloc[[1, 3, 5], 1:3] #对具体的行进行筛选

             B   C
2017-08-15   5   6
2017-08-17  13  14
2017-08-19  21  22

In [20]:
#mixed selection: ix  (loc和iloc综合在一起的筛选方式)
df.ix[:3, ['A', 'C']]  #行是数字的筛选方式，列是标签的筛选方式

E:\Anaconda3-4.4.0-Windows-x86\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix

            A   C
2017-08-14  0   2
2017-08-15  4   6
2017-08-16  8  10

In [21]:
#Boolean indexing   布尔索引（大于 小于）
df[df.A < 8]

            A  B  C  D
2017-08-14  0  1  2  3
2017-08-15  4  5  6  7